<form method="post" action="/landmarks">
  Name: <input type="text" name="landmark_name" id="landmark[name]">
  Year Completed: <input type="text" name="landmark_year_completed" id="landmark[year_completed]">
  <input type="submit" value="Create New Landmark">
</form>
